.h1{
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: rgb(0, 0, 0);
}

.container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  background-color: rgb(248, 247, 247);
  background-image:
    radial-gradient(
      circle at top left,
      rgb(3, 3, 3),
      #fdfdfd 1%
    );
}

.primaryImg {
  height: 90vh;
  position: fixed;
  right:-5px;
  max-width: 50vw;
}

.App {
  display: flex;
  width: 50vw;
  height: 100vh;
  justify-content: center;
}

.widget{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vh;
  box-shadow: 2px 2px 1px 0px rgba(14, 13, 13, 0.5);
  border: solid 1px black;
  height: 60%;
  width: 65%;
  border-radius: 5px;

}

.outerTest{
  width: 900px;
  height: 1090px;
}
.buttone  {
  color: white;
  display: flex;
  justify-content: center;
  width: 30vw;
  height: 8vh;
  background-color: rgb(70, 58, 238);
  color:white;
  box-shadow: 2px 2px 1px 0px rgba(253, 253, 253, 0.5);
  border-radius: 100px;
  margin: 10px;
  cursor:pointer;
  align-items: center;
  font-size: large;
}

.buttone:hover  {
  color: black;
  background-color: rgb(253, 253, 253);
  box-shadow: 2px 2px 1px 0px rgba(253, 253, 253, 0.5);
  border:solid 1px black;
}



.imageCard {
  height: 50vh;
  margin: 5px;
  box-shadow: 1px black;
}

.imagen {
  width: inherit;
  opacity: 100%;
  height: inherit;
  border-radius: 2px;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
