.h1{
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
  color: rgb(0, 0, 0);
}

.container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  display: flex;
  align-items: center;
 
    justify-content: center;
    background-color: #a0a5aa;
    background-image: -webkit-linear-gradient(115deg, #013A6B 35%, #f8e2de 35%);

}

.primaryImg {
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 15px;
  justify-content: flex-end;
  width: 50%;
  position: relative;
}

.App {
  display: flex;
  width: 75vw;
  height: 60vh;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 1px 0px rgba(14, 13, 13, 0.5); 

}

.widget{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin:3%;

}
.imagen {
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}


.outerTest{
  width: 900px;
  height: 1090px;
}  
.buttone  {
  color: white;
  display: flex;
  justify-content: center;
  width: 30vw;
  height: 8vh;
  background-color:#013A6B;
  color:white;
  box-shadow: 2px 2px 1px 0px rgba(253, 253, 253, 0.5);
  border-radius: 100px;
  margin: 10px;
  cursor:pointer;
  align-items: center;
  font-size: large;
}  

.buttone:hover  {
  color: black;
  background-color: rgb(253, 253, 253);
  box-shadow: 2px 2px 1px 0px rgba(253, 253, 253, 0.5);
  border:solid 1px black;
} 
.buttone:focus{
  outline:none;
} 
.arrow {
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}
.arrow:hover{
  background-color: rgb(223, 219, 219);
}
.arrow:focus{
outline: none;
}

@media (max-width:600px) {
  .App{
   flex-direction: column;
   width:100vw;
   height: 100vh;
   justify-content: center;
 }

 .widget{
   width: 100%;
 }
 .primaryImg{
   width: 100%;
   height: auto;
 }

}

@media (min-width: 600px) and (max-width:800px) {
  .App{
   width:100vw;
   height: 60vh;
 }
}

@media (min-width: 800px) and (max-width:1100px) {
  .App{
    width: 95vw;
  }
}
